In [1]:
# Getting all possible ActivityCode from Excel file -> df1

import pandas as pd

file_path = 'MaintenanceActivityTypes.xlsx'
sheet_name = 'in'

df1 = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
# df1 = df1[df1['Ignore'] != 1]

df1_split = df1.assign(TechnicalObjects_split=df1['TechnicalObjects'].str.split(', ')).explode('TechnicalObjects_split')
df1_split

,Index,ActivityCode,Maintenance Product,Frequency Required,Frequency Unit,TechnicalObjects,Ignore,Specifics,Unnamed: 8,Unnamed: 9,TechnicalObjects_split
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Main Line
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Passing Loop
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Loading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Unloading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Fork
...,...,...,...,...,...,...,...,...,...,...,...
165,1.0,NaN,"Trackside Buildings, Hardstands, Electrical Re...",6.0,Months,NaN,1.0,NaN,NaN,NaN,NaN
166,2.0,NaN,"Trackside Buildings, Hardstands, Electrical Re...",12.0,Months,NaN,1.0,NaN,NaN,NaN,NaN
167,3.0,NaN,"Trackside Buildings, Hardstands, Electrical Re...",60.0,Months,NaN,1.0,NaN,NaN,NaN,NaN
168,4.0,NaN,"Trackside Buildings, Hardstands, Electrical Re...",NaN,Fix on failure,NaN,1.0,NaN,NaN,NaN,NaN
169,NaN,"T42, T43","Westect ATP (Radio, Transponder Group)",NaN,Fix on failure,NaN,1.0,NaN,NaN,NaN,NaN

In [2]:
file_path = 'AssetsTypes.xlsx'
sheet_name = 'in'

asset_types_df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

asset_types_df

    AssetCode             AssetType
0       10000         Track Objects
1       10001             Main Line
2       10003            Yard Track
3       10004      Loading Facility
4       10005    Unloading Facility
..        ...                   ...
252   WATRPMP    Water Pumping Unit
253   WEASTSY  Weather Station Syst
254  WHEELSET              Wheelset
255   WLDRFBT    Welder: Flash-Butt
256   WLDRGEN       Welder: General

[257 rows x 2 columns]

In [3]:
# %%timeit
# {col: sum(df1_split['TechnicalObjects_split'] == col) for col in asset_types_df['AssetType']}

In [4]:
# %%timeit
# test = {}
# for col in asset_types_df['AssetType']:
#     test[col] = sum(df1_split['TechnicalObjects_split'] == col)

In [5]:
res = {col: sum(df1_split['TechnicalObjects_split'] == col) for col in asset_types_df['AssetType']}
counts = pd.DataFrame({
    'AssetType': res.keys(),
    'Count': res.values()
})
counts
# counts[counts['AssetType'] == 'Shuttle Car']

                AssetType  Count
0           Track Objects      0
1               Main Line     14
2              Yard Track      9
3        Loading Facility     12
4      Unloading Facility     12
..                    ...    ...
251    Water Pumping Unit      0
252  Weather Station Syst      3
253              Wheelset      0
254    Welder: Flash-Butt      0
255       Welder: General      0

[256 rows x 2 columns]

In [6]:
zero_counts = counts[counts['Count'] == 0]
zero_counts

                AssetType  Count
0           Track Objects      0
14          Tangent Track      0
15            Track Angle      0
29                 Balise      0
35   Lvl6 Structure Group      0
..                    ...    ...
250      Wagon: Passenger      0
251    Water Pumping Unit      0
253              Wheelset      0
254    Welder: Flash-Butt      0
255       Welder: General      0

[107 rows x 2 columns]

In [7]:
with pd.ExcelWriter('zero_count.xlsx', mode='w', engine='openpyxl') as writer:
    # Write the DataFrame to the Excel file
    zero_counts.to_excel(writer, sheet_name='zero_count', index=False)