In [95]:
# Getting all possible ActivityCode from Excel file -> df1

import pandas as pd

file_path = 'MaintenanceActivityTypes.xlsx'
sheet_name = 'in'

df1 = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
df1 = df1[df1['Ignore'] != 1]

df1_split = df1.assign(TechnicalObjects_split=df1['TechnicalObjects'].str.split(',')).explode('TechnicalObjects_split')
df1_split

,Index,ActivityCode,Maintenance Product,Frequency Required,Frequency Unit,TechnicalObjects,Ignore,Specifics,Unnamed: 8,Unnamed: 9,TechnicalObjects_split
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Main Line
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Passing Loop
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Loading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Unloading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Fork
...,...,...,...,...,...,...,...,...,...,...,...
151,1.0,"T24, T25",Section Insulator,52.0,Weeks,Section Insulator,NaN,NaN,NaN,NaN,Section Insulator
152,2.0,"T24, T25",Section Insulator,260.0,Weeks,Section Insulator,NaN,NaN,NaN,NaN,Section Insulator
154,1.0,"T24, T25",Track and Overhead Geometry Vehicle,26.0,Weeks,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
155,1.0,"T24, T25",Height & Stagger Measurements,1.0,Year,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
156,1.0,"T24, T25",Earth Grid Inspections,260.0,Weeks,Earthing and Bonding,NaN,NaN,NaN,NaN,Earthing and Bonding

In [96]:
file_path = 'AssetsTypes.xlsx'
sheet_name = 'in'

asset_types_df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

asset_types_df

    AssetCode             AssetType
0                               NaN
1       10000         Track Objects
2       10001             Main Line
3       10003            Yard Track
4       10004      Loading Facility
..        ...                   ...
253   WATRPMP    Water Pumping Unit
254   WEASTSY  Weather Station Syst
255  WHEELSET              Wheelset
256   WLDRFBT    Welder: Flash-Butt
257   WLDRGEN       Welder: General

[258 rows x 2 columns]

In [97]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000 -> df2_no_length

import pyodbc

sql_query = """
    SELECT
        FLOC_TPLNR_FunctionalLocationInternalKey,
        FLOC_STRNO_FunctionalLocation,
        FLOC_PLTXT_FunctionalLocationDescr,
        FLOC_TYPTX_FunctionalLocationCategoryDescr,
        FLOC_EQART_TechnicalObjectType,
        FLOC_EARTX_TechnicalObjectTypeDescr,
        FLOC_BUKRS_CompanyCode,
        FLOC_STORT_Location,
        FLOC_STORT_LocationDescr
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
	WHERE FLOC_BUKRS_CompanyCode = '5000'
	ORDER BY FLOC_STRNO_FunctionalLocation
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df2_no_length = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df2_no_length.head(10)

C:\Users\r893859\AppData\Local\Temp\ipykernel_5020\2215936164.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2_no_length = pd.read_sql_query(sql_query, conn)

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala
4,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana
5,?0100000000000387832,AC-01RS,ROCKLANDS BLUE ROAD MAINLINE,Track,10001,Main Line,5000,RO0319,Rocklands FS - Rockhampton
6,?0100000000000386450,AC-02CH,CALLEMONDAH BLUE ROAD 2,Track,10003,Yard Track,5000,CA0089,Callemondah
7,?0100000000000365831,AC-02JN,Jilalan Provisioning 2,Track,10003,Yard Track,5000,JI0204,Jilalan
8,?0100000000000366348,AC-02JN-JNJN,Jilalan Provisioning 2,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan
9,?0100000000000377749,AC-02NA,NOGOA YARD BLUE ROAD TRACK 2,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala

In [98]:
# Getting all FLOC length from [vw_Dim_FunctionalLocationLinear] --> df2_length_only
import pyodbc

sql_query = """
    SELECT
        FLOCLIN_TPLNR_FunctionalLocationInternalKey,
        FLOCLIN_LINEAR_LENGTH_LinearLengthKM
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocationLinear]
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df2_length_only = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df2_length_only.head(10)

C:\Users\r893859\AppData\Local\Temp\ipykernel_5020\583957571.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2_length_only = pd.read_sql_query(sql_query, conn)

,FLOCLIN_TPLNR_FunctionalLocationInternalKey,FLOCLIN_LINEAR_LENGTH_LinearLengthKM
0,?0100000000000189578,0.0
1,?0100000000000189579,0.0
2,?0100000000000189580,0.0
3,?0100000000000189581,0.0
4,?0100000000000189586,0.0
5,?0100000000000189587,0.0
6,?0100000000000189588,0.0
7,?0100000000000189589,0.0
8,?0100000000000189590,0.0
9,?0100000000000189591,0.0

In [99]:
# Joining df2_no_length and df2_length_only to get df2
df2 = pd.merge(df2_no_length, df2_length_only, how='left', left_on='FLOC_TPLNR_FunctionalLocationInternalKey', right_on='FLOCLIN_TPLNR_FunctionalLocationInternalKey')

df2.head(10)

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr,FLOCLIN_TPLNR_FunctionalLocationInternalKey,FLOCLIN_LINEAR_LENGTH_LinearLengthKM
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah,?0100000000000387769,0.179
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan,?0100000000000365741,4.864
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan,?0100000000000366347,4.864
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,1.604
4,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,1.604
5,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,1.604
6,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,1.604
7,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana,?0100000000000387811,0.171
8,?0100000000000387832,AC-01RS,ROCKLANDS BLUE ROAD MAINLINE,Track,10001,Main Line,5000,RO0319,Rocklands FS - Rockhampton,?0100000000000387832,0.518
9,?0100000000000386450,AC-02CH,CALLEMONDAH BLUE ROAD 2,Track,10003,Yard Track,5000,CA0089,Callemondah,?0100000000000386450,0.115

In [100]:
# # Getting average cost for each ActivityCode from myANALYTIC --> df3
# sql_query = """
# 	SELECT
# 		ILART_MaintenanceActivityTypeID,
# 		AVG(ActualCost) AS 'AverageCost'
# 	FROM (
# 		SELECT
# 			ILART_MaintenanceActivityTypeID,
# 			ActualCost
# 		FROM [myANALYTICS_SP].[silver.fact.enterprise.asset].[vw_Fact_WorkOrder]
# 		WHERE
# 			BUKRS_CompanyCodeID = '5000'
# 			AND ActualCost >= 0
# 	) AS SubQuery
# 	GROUP BY ILART_MaintenanceActivityTypeID
# """

# # Define your server name
# server_name = 'myanalytics.aurizon.com.au'

# # Establish a connection using Windows Authentication
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# # Execute the SQL query and load the result into a pandas DataFrame
# df3 = pd.read_sql_query(sql_query, conn)

# # Display the DataFrame
# df3.head(10)

In [101]:
df3 = pd.read_pickle('pkl/df3.pkl')
df3.head(10)

  ILART_MaintenanceActivityTypeID    AverageCost
0                             365       0.000000
1                             F01    3413.246666
2                             NGR     266.114117
3                             C44   66558.125416
4                             B16    1448.190000
5                             XC1   67780.670000
6                             P02    2566.577316
7                             B08    6497.420000
8                             SER   16812.736566
9                             T10  172151.643571

In [102]:
# Joining df1_split and df2, so that we have the all the possible Maintenance Product/Activity,... for each FLOC -> result_df
result_df = pd.merge(df2, df1_split, how='left', left_on='FLOC_EARTX_TechnicalObjectTypeDescr', right_on='TechnicalObjects_split')


## split result_df into result_df_split, join with df3 to get the average cost for each activity -> add a new AverageCost column to result_df

# Splitting result_df.ActivityCode into separate rows
result_df_split = result_df.assign(ActivityCode_split=result_df['ActivityCode'].str.split(',')).explode('ActivityCode_split')
# Joining result_df_split and df3 based on ActivityCode_split and ILART_MaintenanceActivityTypeID
merge_df2 = pd.merge(result_df_split, df3, how='left', left_on='ActivityCode_split', right_on='ILART_MaintenanceActivityTypeID')

# Calculating the average cost for each row in df1
average_cost_per_row = merge_df2.groupby(result_df_split.index)['AverageCost'].mean()

# Assigning the average cost to df1
result_df['AverageCost'] = average_cost_per_row

result_df

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr,FLOCLIN_TPLNR_FunctionalLocationInternalKey,...,Maintenance Product,Frequency Required,Frequency Unit,TechnicalObjects,Ignore,Specifics,Unnamed: 8,Unnamed: 9,TechnicalObjects_split,AverageCost
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah,?0100000000000387769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan,?0100000000000365741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan,?0100000000000366347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207088,?0100000000000253351,WL000204,Baralaba WB Location Box 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba,?0100000000000253351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207089,?0100000000000253372,WL000205,Baralaba WB Location Box 4.165Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba,?0100000000000253372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207090,?0100000000000264822,WL999999,Electric WLNL 01CR BYAA16.652Km,Bridges and other Structures,40000,Wayleave Objects,5000,AR0021,Armuna-Buckley,?0100000000000264822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207091,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None,?0100000000000265380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207092,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None,?0100000000000265380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
## Filter for Maintenance Product = Rail Lubrication
print(f'amount before filter: {len(result_df[result_df['Maintenance Product'] == "Rail Lubrication"])}')

# 7 days
# If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 7 days
df_filtered = result_df[~(
    result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (result_df['Maintenance Product'] == 'Rail Lubrication') &
    (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (result_df['Frequency Required'] != 7)
)]
# If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 7 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 7)
)]

# 14 days
# If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 14)
)]
# If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 14)
)]
# If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 14)
)]
# If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 14)
)]
# If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 14)
)]
# If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 14 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 14)
)]

# 28 days
# If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 28 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 28)
)]
# If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 28 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 28)
)]
# If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 28 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 28)
)]
# If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 28 days
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 28)
)]

print(f'amount after filter: {len(df_filtered[df_filtered['Maintenance Product'] == "Rail Lubrication"])}')

amount before filter: 96
amount after filter: 65

In [104]:
## Filter for Maintenance Product = GPR / PVC Inspecting and Testing
print(f'amount before filter: {len(result_df[result_df['Maintenance Product'] == "GPR / PVC Inspecting and Testing"])}')

# 1 year
# If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
    (df_filtered['Frequency Required'] != 1)
)]
# If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 1 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
    (df_filtered['Frequency Required'] != 1)
)]

# 2 year
# If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
    (df_filtered['Frequency Required'] != 2)
)]
# If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 2 year
df_filtered = df_filtered[~(
    df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
    (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
    (df_filtered['Frequency Required'] != 2)
)]

print(f'amount after filter: {len(df_filtered[df_filtered['Maintenance Product'] == "GPR / PVC Inspecting and Testing"])}')

amount before filter: 74
amount after filter: 60

In [105]:
# df_filtered.to_pickle("asset_maintenance_all_2024_03_15.pkl")

# test2_df = df_filtered[(df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') & (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line')]
test_df_all = df_filtered[['FLOC_STRNO_FunctionalLocation', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'Maintenance Product', 'Frequency Required', 'Frequency Unit', 'FLOCLIN_LINEAR_LENGTH_LinearLengthKM', 'ActivityCode', 'AverageCost', 'FLOC_STORT_LocationDescr']]
# test_df = test_df[test_df['Frequency Required'].notnull()]
test_df_all.to_pickle("pkl/asset_maintenance_all_2024_04_04.pkl")

test_df_all

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,AC-01CH,Yard Track,NaN,NaN,NaN,0.179,NaN,NaN,Callemondah
1,AC-01JN,Yard Track,NaN,NaN,NaN,4.864,NaN,NaN,Jilalan
2,AC-01JN-JNJN,Lvl 3 Segmentation,NaN,NaN,NaN,4.864,NaN,NaN,Jilalan
3,AC-01NA,Yard Track,NaN,NaN,NaN,1.604,NaN,NaN,Nogoa-Yamala
4,AC-01NA,Yard Track,NaN,NaN,NaN,1.604,NaN,NaN,Nogoa-Yamala
...,...,...,...,...,...,...,...,...,...
207088,WL000204,Wayleave Objects,NaN,NaN,NaN,0.000,NaN,NaN,Baralaba
207089,WL000205,Wayleave Objects,NaN,NaN,NaN,0.000,NaN,NaN,Baralaba
207090,WL999999,Wayleave Objects,NaN,NaN,NaN,0.000,NaN,NaN,Armuna-Buckley
207091,XX100013-01,Bridges,NaN,NaN,NaN,0.000,NaN,NaN,None
207092,XX100013-01,Bridges,NaN,NaN,NaN,0.000,NaN,NaN,None

In [106]:
test_df_no_null = test_df_all[test_df_all['ActivityCode'].notnull()]
test_df_no_null

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
7,AC-01PA,Main Line,Ballast Undercutting,600.00,MNT,0.171,"C01, C14, C20, C02",2.949032e+05,Parana
8,AC-01PA,Main Line,Track Resurfacing,50.00,MGT,0.171,C19,1.390219e+04,Parana
9,AC-01PA,Main Line,Track Geometry Recording,3.00,Month,0.171,C29,2.684079e+05,Parana
10,AC-01PA,Main Line,Track Geometry Recording,6.00,Month,0.171,C29,2.684079e+05,Parana
11,AC-01PA,Main Line,Track Inspections,192.00,Hours,0.171,C50,3.179922e+04,Parana
...,...,...,...,...,...,...,...,...,...
206951,TO004068,Electrical Turnout,Turnout Grinding,40.00,MGT,0.024,"C26, C10",2.245418e+06,Olive Downs
206952,TO004068,Electrical Turnout,Track Inspections,12.00,Month,0.024,C50,3.179922e+04,Olive Downs
206953,TO004068,Electrical Turnout,Rail Flaw Detection,1.00,Year,0.024,"C30, C48, C54",2.396604e+05,Olive Downs
206954,TO004068-01,Electric Points,"Points (mechanical, electric, electro-hydrauli...",8.66,Weeks,0.000,"T28, T29",1.059013e+03,Olive Downs
206955,TO004068-01,Electric Points,"Points (mechanical, electric, electro-hydrauli...",52.00,Weeks,0.000,"T28, T29",1.059013e+03,Olive Downs

In [107]:
import numpy as np

missing_acitivies = [
    'Over Height Level Crossing Protection_F1',
    'Over Height Level Crossing Protection_F2',
    'Over Height Level Crossing Protection_F3',
    'Coal Dust Monitors'
]

num_to_generate = round(t.shape[0]/ t['Maintenance Product'].nunique())

test1 = [f'random_floc_{num}_Over Height Level Crossing Protection_F1' for num in range(num_to_generate)]
test2 = [f'random_floc_{num}_Over Height Level Crossing Protection_F2' for num in range(num_to_generate)]
test3 = [f'random_floc_{num}_Over Height Level Crossing Protection_F3' for num in range(num_to_generate)]
test4 = [f'random_floc_{num}_Coal Dust Monitors' for num in range(num_to_generate)]

random_df1 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test1,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 1,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df2 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test2,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 30,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df3 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test3,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 90,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df4 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test4,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Coal Dust Monitors',
    'Frequency Required': 3,
    'Frequency Unit': 'Months',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': 1,
    'FLOC_STORT_LocationDescr': np.nan
})
random_df4

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,random_floc_0_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
1,random_floc_1_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
2,random_floc_2_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3,random_floc_3_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
4,random_floc_4_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
...,...,...,...,...,...,...,...,...,...
3230,random_floc_3230_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3231,random_floc_3231_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3232,random_floc_3232_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3233,random_floc_3233_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3234,random_floc_3234_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN

In [108]:
union_df = pd.concat([test_df_all, random_df1, random_df2, random_df3, random_df4], ignore_index=True)
union_df['AverageCost'] = 1

union_df.to_pickle("pkl/asset_maintenance_all_2024_04_12.pkl")

union_df

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,AC-01CH,Yard Track,NaN,NaN,NaN,0.179,NaN,1,Callemondah
1,AC-01JN,Yard Track,NaN,NaN,NaN,4.864,NaN,1,Jilalan
2,AC-01JN-JNJN,Lvl 3 Segmentation,NaN,NaN,NaN,4.864,NaN,1,Jilalan
3,AC-01NA,Yard Track,NaN,NaN,NaN,1.604,NaN,1,Nogoa-Yamala
4,AC-01NA,Yard Track,NaN,NaN,NaN,1.604,NaN,1,Nogoa-Yamala
...,...,...,...,...,...,...,...,...,...
219983,random_floc_3230_Coal Dust Monitors,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1,NaN
219984,random_floc_3231_Coal Dust Monitors,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1,NaN
219985,random_floc_3232_Coal Dust Monitors,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1,NaN
219986,random_floc_3233_Coal Dust Monitors,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1,NaN
219987,random_floc_3234_Coal Dust Monitors,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1,NaN

In [109]:
# [f'rnd_floc_{maint}_{num}' for num in range(num_to_generate) for maint in missing_acitivies]

In [110]:
num_to_generate

3235

- Over Height Level Crossing Protection_F1
- Over Height Level Crossing Protection_F2
- Over Height Level Crossing Protection_F3
- Coal Dust Monitors

In [111]:
# # Getting all FLOC length from [vw_Dim_FunctionalLocationLinear] --> df2_length_only
# import pyodbc

# sql_query = """
#     WITH dim_floc AS (
#         SELECT
#             FLOC_STRNO_FunctionalLocation,
#             FLOC_PLTXT_FunctionalLocationDescr,
#             FLOC_TPLNR_FunctionalLocationInternalKey,
#             FLOC_EARTX_TechnicalObjectTypeDescr,
#             FLOC_MSGRP_FunctionalLocationRoom,
#             FLOC_STORT_LocationDescr,
#             FLOC_BUKRS_CompanyCode
#         FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
#     ),
#     -- dim_work_order AS (
#     --     SELECT *
#     --     FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_WorkOrder]
#     -- ),
#     fact_work_order AS (
#         SELECT
#             AUFNR_Order,
#             GLTRP_BasicFinishDateID,
#             KTEXT_OrderDescr,
#             ILART_MaintenanceActivityTypeID,
#             TPLNR_FunctionalLocationInternalID,
#             ActualCost
#         FROM [myANALYTICS_SP].[silver.fact.enterprise.asset].[vw_Fact_WorkOrder]
#         WHERE ILART_MaintenanceActivityTypeID IN
#             (
#                 'C01', 'C14', 'C20', 'C02', 'C13', 'C03', 'C19', 'C23', 'C25', 'C26', 'C10', -- Mechanised Track Maintenance
#                 'C29', 'C37', 'C08', 'C47', 'C54', 'C43', 'C51', 'C53', 'C57', 'C50', 'C10', 'C30', 'C48', 'C54', 'C52', 'C06', 'C07', 'C44', 'C01', 'C57', -- General Track Maintenance
#                 'B50', 'B53', 'C67', 'B04', 'B05', 'B06', 'B55', 'B57', 'C67', -- Structures Maintenance
#                 'T28', 'T29', 'T40', 'T41', 'T58', 'T44', 'T45', 'T46', 'T47', 'T48', 'T54', 'T42', 'T43', -- Control Systems - Signalling and Wayside Maintenance
#                 'T10', 'T11', 'T32', -- Control Systems - Telecommunications Maintenance
#                 'C54', 'T32', -- Control Systems - Operational Systems Maintenance
#                 'T26', 'T27', 'T32', 'T24', 'T25' -- Traction Power Maintenance
#             )
#     )

#     SELECT
#         --fact_work_order.TPLNR_FunctionalLocationInternalID,
#         dim_floc.FLOC_STRNO_FunctionalLocation AS 'floc',
#         dim_floc.FLOC_PLTXT_FunctionalLocationDescr AS 'floc_description',
#         fact_work_order.AUFNR_Order AS 'work_order_id',
#         TRY_CAST(fact_work_order.GLTRP_BasicFinishDateID AS date) AS 'work_order_basic_finish_date',
#         fact_work_order.KTEXT_OrderDescr AS 'work_order_desc',
#         fact_work_order.ILART_MaintenanceActivityTypeID AS 'activity_type',
#         dim_floc.FLOC_EARTX_TechnicalObjectTypeDescr as 'level',
#         fact_work_order.ActualCost as 'actual_cost',
#         FLOC_MSGRP_FunctionalLocationRoom,
#         FLOC_STORT_LocationDescr
#     FROM dim_floc
#         LEFT JOIN fact_work_order ON fact_work_order.TPLNR_FunctionalLocationInternalID = dim_floc.FLOC_TPLNR_FunctionalLocationInternalKey
#         -- LEFT JOIN dim_work_order ON something
#     where
#         dim_floc.FLOC_BUKRS_CompanyCode = '5000' -- CompanyCode 5000 = Aurizon Network Pty Ltd (below rail)
#         AND fact_work_order.TPLNR_FunctionalLocationInternalID is not null -- this line will filter the result table to only show FLOC_IDs that HAD an order performed on it before (there's a lot of FLOC that weren't maintained before)
#         -- AND fact_work_order.RowNum = 1
#     ORDER BY floc, work_order_basic_finish_date
# """

# # Define your server name
# server_name = 'myanalytics.aurizon.com.au'

# # Establish a connection using Windows Authentication
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# # Execute the SQL query and load the result into a pandas DataFrame
# work_order = pd.read_sql_query(sql_query, conn)

# # Display the DataFrame
# work_order