In [28]:
import pandas as pd

df2 = pd.read_pickle('pkl/flocs_joined_to_linecode.pkl')
df2

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_MSGRP_FunctionalLocationRoom,FLOC_STORT_LocationDescr,System,LineCode
477,PN-ZZ-EM-HEL025,HEL025 SKID STEER LOADER C64591,?0100000000000007243,Plant: SkidSteer Ldr,,yukan,Goonyella,GA378\nGA621
488,PN-SP-EM-KEL025,KEL025 SKID STEER WHEEL LOADER C72329,?0100000000000007257,Plant: SkidSteer Ldr,,yukan,Goonyella,GA378\nGA621
489,PN-SP-EM-KEL026,KEL026 WHEEL LOADER VOLVO L120F C75196,?0100000000000007258,E/Moving: End Loader,,yukan,Goonyella,GA378\nGA621
922,GA-47YR,SARAJI MAT YD2,?0100000000000136353,Yard Track,GA-03CR,saraji,Goonyella,NP374
924,GA-05CR-VAVA,VILLAFRANCA,?0100000000000136673,Lvl 3 Segmentation,GA-05CR,villafranca,Goonyella,WA232
...,...,...,...,...,...,...,...,...
161588,MA-02FK-CHBE-DE0020,DE400868_MA02FK0_MA02FK0,?0100000000000392581,Lvl4 Feature Locatio,MA-08CR,byellee,Moura,BY756
161590,MA-02PL-SESE-DE0010,DE400871_MA02PL24_MA02PL24,?0100000000000392583,Lvl4 Feature Locatio,MA-01CR,stowe,Moura,MA734
161591,MA-03FK-BEGE-DE0010,DE400872_MA03FK0_MA03FK0,?0100000000000392584,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756
161592,MA-03FK-BEGE-DE0020,DE400873_MA03FK0_MA03FK1,?0100000000000392585,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756
161593,MA-03FK-BEGE-DE0030,DE400874_MA03FK0_MA03FK1,?0100000000000392586,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756

In [29]:
# Function to split the 'LineCode' values into two rows for 'CL' codes
def split_row(row):
    if '\n' in row['LineCode']:
        return row['LineCode'].split('\n')
    return row['LineCode']

# # Function to extract the last 3 characters for 'NP' codes
# def extract_last_3_numbers(row):
#     return row['LineCode'][-3:]

In [30]:
df2['LineCode'] = df2.apply(lambda row: split_row(row), axis=1)
df2 = df2.explode('LineCode')

df2

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_MSGRP_FunctionalLocationRoom,FLOC_STORT_LocationDescr,System,LineCode
477,PN-ZZ-EM-HEL025,HEL025 SKID STEER LOADER C64591,?0100000000000007243,Plant: SkidSteer Ldr,,yukan,Goonyella,GA378
477,PN-ZZ-EM-HEL025,HEL025 SKID STEER LOADER C64591,?0100000000000007243,Plant: SkidSteer Ldr,,yukan,Goonyella,GA621
488,PN-SP-EM-KEL025,KEL025 SKID STEER WHEEL LOADER C72329,?0100000000000007257,Plant: SkidSteer Ldr,,yukan,Goonyella,GA378
488,PN-SP-EM-KEL025,KEL025 SKID STEER WHEEL LOADER C72329,?0100000000000007257,Plant: SkidSteer Ldr,,yukan,Goonyella,GA621
489,PN-SP-EM-KEL026,KEL026 WHEEL LOADER VOLVO L120F C75196,?0100000000000007258,E/Moving: End Loader,,yukan,Goonyella,GA378
...,...,...,...,...,...,...,...,...
161588,MA-02FK-CHBE-DE0020,DE400868_MA02FK0_MA02FK0,?0100000000000392581,Lvl4 Feature Locatio,MA-08CR,byellee,Moura,BY756
161590,MA-02PL-SESE-DE0010,DE400871_MA02PL24_MA02PL24,?0100000000000392583,Lvl4 Feature Locatio,MA-01CR,stowe,Moura,MA734
161591,MA-03FK-BEGE-DE0010,DE400872_MA03FK0_MA03FK0,?0100000000000392584,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756
161592,MA-03FK-BEGE-DE0020,DE400873_MA03FK0_MA03FK1,?0100000000000392585,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756
161593,MA-03FK-BEGE-DE0030,DE400874_MA03FK0_MA03FK1,?0100000000000392586,Lvl4 Feature Locatio,MA-03FK,byellee,Moura,BY756

In [38]:
df2.LineCode.unique()

array(['GA378', 'GA621', 'NP374', 'WA232', 'GA363', 'GA461', 'WA231',
       'GA454', 'GA359', 'NP339', 'GA441', 'NP375', 'NP762', 'NP351',
       'NP223', 'NP352', 'GA745', 'GA453', 'NL846', 'NG243', 'NL381',
       'AB384', 'SE349', 'CL792', 'CL773', 'CL404', 'CL799', 'CL780',
       'CL778', 'CL779', 'NC457', 'NC237', 'MA451', 'MA433', 'NC842',
       'CL772', 'CL777', 'GG788', 'CL405', 'RM344', 'KA784', 'GG787',
       'MA734', 'MA736', 'MA421', 'MA606', 'MA420', 'BY756', 'BI737'],
      dtype=object)

In [31]:
# df2['LineCode'] = df2.apply(lambda row: extract_last_3_numbers(row), axis=1)
# df2

In [32]:
# Count the occurrences of each value in df2.LineCode
linecode_counts = df2['LineCode'].value_counts()

# Display the counts
print(linecode_counts)

LineCode
CL773    8312
CL772    5740
NL846    4670
MA433    4581
MA451    4581
CL404    4179
GA378    4117
NC457    3913
GA441    3767
NC842    2948
NL381    2873
CL405    2470
MA420    2275
AB384    2093
GA359    1885
WA232    1747
NC237    1703
MA734    1669
CL792    1650
NP375    1588
CL777    1586
MA421    1578
NP339    1559
GA454    1559
NP374    1420
CL778    1375
GA621    1331
SE349    1228
RM344     899
CL799     843
CL780     843
MA736     781
GA745     767
GG788     690
WA231     638
GA363     638
GA461     638
BI737     563
NP762     452
NP223     417
NP351     387
BY756     379
GG787     351
GA453     325
CL779     294
MA606     249
NG243     234
NP352     220
KA784     218
Name: count, dtype: int64

In [33]:
## Reading FAR.xlsx into a df
# file_path = 'FAR.xlsx'
# sheet_name = 'Export'

# df1 = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

# df1 = df1[['Asset Number', 'Sub number', 'LTD Cost', 'Location', 'Location text', 'Km Point', 'Functional Loc.']]
# df1.to_pickle("pkl/FAR.pkl")

# df1.head(10)

In [34]:
df1 = pd.read_pickle('pkl/FAR.pkl')
df1

,Asset Number,Sub number,LTD Cost,Location,Location text,Km Point,Functional Loc.
0,100048.0,0.0,0.000000e+00,34438,GRACEMERE,CL0036.747,#
1,100075.0,0.0,0.000000e+00,34438,GRACEMERE,CL0036.747,#
2,100076.0,0.0,0.000000e+00,33857,BAJOOL,NC0605.420,#
3,100083.0,0.0,0.000000e+00,45620,MORANBAH,WA0018.230,#
4,100096.0,0.0,0.000000e+00,32176,CALLEMONDAH,PG0534.390,#
...,...,...,...,...,...,...,...
47855,393543.0,1.0,7.471786e+04,LS378,DALRYMPLE JCTN-YUKANX,28.737-28.747KM,TO001222
47856,394263.0,1.0,1.431738e+05,LS837,DALRYMPLE JTX - YUKANX,28.715KM,TO001222
47857,NaN,NaN,8.787987e+09,NaN,NaN,NaN,NaN
47858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47859,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df1.Location.unique()

array(['34438', '33857', '45620', '32176', '32061', '45305', '45575',
       '37639', '37479', '37110', '33697', '33574', '33494', '32547',
       'LS613', '33654', 'LS614', '44855', '44898', '44900', '44759',
       'LS456', 'LS745', 'LS787', 'LS751', 'LS601', 'LS450', 'LS603',
       'LS772', 'LS773', 'LS774', 'LS352', 'LS764', 'LS791', 'LS454',
       'LS404', 'LS779', 'LS307', 'LS781', 'LS359', 'LS126', 'LS839',
       'LS731', 'LS792', 'LS621', 'LS362', 'LS761', 'LS842', 'LS457',
       'LS455', '37903', '38017', '45655', '50040', '45778', '31990',
       '45559', 'LS840', '45532', '44915', '45030', '44990', '45102',
       'LS743', 'LS756', 'LS734', 'LS420', 'LS421', 'LS736', 'LS606',
       'LS737', 'LS846', 'LS367', 'LS746', 'LS747', 'LS763', 'LS765',
       'LS847', 'LS311', 'LS851', 'LS848', 'LS305', 'LS780', 'LS784',
       'LS405', 'LS306', 'LS777', 'LS778', 'LS788', 'LS783', 'LS782',
       'LS786', 'LS755', 'LS343', 'LS441', 'LS748', 'LS749', 'LS444',
       'LS767', 'LS766', 'LS497', 'LS453', 'LS837', 'LS351', 'LS443',
       'LS838', 'LS771', 'LS776', 'LS215', 'LS451', 'LS462', '39124',
       'LS360', 'LS768', 'LS738', 'LS750', 'LS499', 'LS433', 'LS769',
       'LS799', 'LS339', 'LS135', 'LS632', 'LS342', 'LS458', 'LS129',
       'LS366', 'LS762', '44919', 'LS341', 'CO0108', 'LS790', 'LS363',
       'LS461', '34358', '33531', 'LS349', '38025', '38033', '38076',
       'LS688', 'LS394', 'LS213', 'LS391', 'LS393', '53321', '90700',
       'SC004', 'LS789', 'LS414', 'LS335', 'LS431', '34251', 'LS435',
       'LS330', 'LS331', '37794', 'LS430', 'LS452', 'SC008', 'LS127',
       '50120', '32133', '36791', 'BO0064', 'LS128', '37233', '45583',
       'LS336', 'SC001', 'LS334', 'LS154', 'LS399', 'LS396', 'LS344',
       '38463', '46180', '90100', '37874', 'LS348', 'LS209', 'LS347',
       'SC099', 'LS146', '32037', '33451', '42067', '49541', 'SC006',
       'LS361', 'LS364', 'LS373', 'LS374', 'LS375', 'LS365', 'LS149',
       'SC009', 'LS211', 'LS608', 'LS753', 'LS207', 'LS206', '00019',
       'LS785', 'LS841', 'LS402', 'LS739', 'LS793', 'LS102', 'LS522',
       'LS398', '38016', '37911', '45640', 'LS913', '37516', '37196',
       '34593', '38797', '49816', '50067', '36871', '37030', '37153',
       '37276', '37559', '37882', '37938', '37946', '37962', '38009',
       'LS732', 'LS744', '50112', '37650', '44986', '45014', '45049',
       '45241', '45209', '45145', '45639', '45612', '45604', 'LS442',
       '38012', '50060', 'LS914', '45680', '37313', '45600', 'LS845',
       'LS676', '34067', '31595', '44943', '45225', '45300', '45436',
       '33611', '33777', '33902', '34024', '34112', '37831', '34390',
       '21530', '37751', '38019', '37719', '44935', '30525', '45591',
       '38018', '26876', '36839', '59731', '37970', '44950', '16002',
       '50240', '49859', '49939', 'LS312', '49576', '50075', 'LS760',
       'LS492', 'LS432', '32723', '37989', '37890', '37885', '58456',
       'LS850', '37436', '32221', '32192', '90200', '49533', '46084',
       '49373', '90110', '32379', 'LS741', 'LS340', '32563', '33195',
       '32416', '32299', '50083', '32184', '37954', 'LS752', 'LS594',
       '45348', 'LS646', '32205', '32395', 'LS844', 'LS605', '72023',
       '38914', '39087', 'LS408', '38156', '49613', '07894', '37356',
       '45579', '32432', '32352', '57250', '32491', '50088', '32336',
       '52492', '32838', 'LS407', 'CO0114', 'MA0225', 'LS409', '32256',
       '45671', '45641', '38439', 'LS378', '94449', '90850', '90010',
       '01994', '34278', 'LS326', '00414', '51991', '49891', '32512',
       '32459', 'LS722', '36919', 'LS754', '45608', '11869', 'LS733',
       '04466', 'LS459', '49736', '42833', 'RA0304', 'BL0045', '45647',
       '32766', '45663', 'LS482', '33945', '19003', '80004', '43051',
       '90070', '75680', 'SO0329', 'BI0035', 'HA0194', 'WI0373', 'EA0146',
       'SU0344', 'LE0222', 'BY0088', 'WY0382', 'DU0137', 'BL0052',
       'DU0138', 'RA0301', 'RA0306', 'RE0312', 'GR0190', 'DI0134',
       'RO0317', 'PA0290', 'WY0381', 'GR0184', 'BO0063', 'BO0062',
       'WA0364', 'MI0248', 'NO0276', 'PE0294', 'MO0262', 'MO0256',
       'MO0257', 'CO0115', 'WO0379', 'HA0201', 'NO0279', 'VE0357',
       'NO0280', 'DI0133', 'OO0284', 'PR0297', 'OO0285', 'WO0377',
       'PE0293', 'BL0058', 'BL0057', '00045', 'GR0187', '13709', 'MO0268',
       'NE0272', 'DA0127', 'NO0278', '52193', 'LA0220', 'GR0193',
       'KE0216', 'CR0123', 'BO0068', '19004', '16280', 'LA0221', 'SO0327',
       'NO0281', 'JI0204', 'MO0251', 'PE0292', 'FR0165', 'GR0188',
       'MA0229', 'UM0356', 'RE0311', 'SA0322', 'RO0319', 'KI0217',
       'MI0250', '16360', '19019', 'BA0030', 'CA0096', 'CO0109', 'NA0270',
       'PI0296', 'RE0313', 'SA0325', 'ST0337', 'SU0343', 'TH0348',
       'TI0349', 'EN0154', 'MI0236', 'MI0241', 'MI0243', 'DY0144',
       'ST0342', '38316', 'WA0361', 'MO0252', 'VI0358', 'WA0359',
       'CU0124', 'HA0198', 'MO0269', 'WO0375', 'AB0001', 'PR0298',
       'DU0142', '00046', 'MA0226', 'CA0097', 'BO0066', 'AN0014',
       'DU0140', 'BE0032', 'MO0267', 'BI0039', 'ME0233', 'TU0355',
       'RO0320', 'OA0282', 'MO0264', 'BL0047', 'MO0261', 'WE0369',
       'TA0346', 'MA0231', 'SP0332', 'WA0363', 'BR0074', 'RO0318',
       '90190', 'WA0362', 'YA0386', 'CA0089', 'IS0203', 'RO0316',
       'GR0182', 'RA0299', 'GL0170', 'MA0227', 'BA0027', 'ST0340',
       'TO0351', 'YA0384', 'RI0314', 'GO0174', 'AR0022', 'WI0374',
       'MO0253', 'BL0050', 'GR0178', 'GR0177', 'WA0366', 'WY0380',
       'MO0260', '13872', 'HA0195', '23579', 'ST0338', 'CA0098', 'KA0210',
       'WI0372', 'JI0205', 'AL0006', '00377', 'AB0003', 'BL0054',
       'BR0075', 'DU0139', 'BL0059', 'GR0185', 'AR0023', 'DI0135',
       'ME0234', 'KE0215', 'CR0122', 'SA0324', 'HA0197', 'DA0131',
       'MI0249', 'BR0072', 'KA0211', 'AR0021', 'BE0033', 'EP0157',
       'AM0013', 'MO0266', 'BA0026', 'AL0008', 'BA0025', 'AR0019',
       'EP0156', 'MI0242', 'MA0230', 'AR0018', 'AL0007', 'AM0012',
       'RA0300', 'MO0265', 'DI0132', 'TR0354', 'WA0367', 'AR0024',
       'WE0370', 'GR0186', 'ED0152', 'BU0084', 'RA0308', 'KA0209',
       'BO0065', 'WE0371', 'ED0151', 'DU0136', 'BU0081', 'BL0060',
       'BL0056', 'ST0335', 'GR0183', 'TR0353', 'CA0091', 'RO0321',
       'KE0214', 'FA0158', 'FA0160', 'BU0083', 'GO0175', 'GO0176',
       'CL0105', 'CU0125', 'GR0179', 'FI0163', '02751', 'RA0303',
       'FA0159', 'MO0259', 'PE0295', 'RE0310', 'DY0145', 'BA0028',
       'YU0387', 'JI0206', 'JI0207', 'AR0020', 'BU0077', 'AL0010',
       'BI0043', 'ST0339', 'WA0360', 'BI0040', 'AL0011', 'BL0046',
       'BR0076', 'BR0073', 'MO0254', 'BL0044', 'BA0029', 'BO0061',
       'TO0352', 'MI0246', 'MA0228', 'SO0331', 'WA0365', 'DA0128',
       'CO0118', 'BR0070', 'MI0247', 'HA0196', 'CO0119', 'BU0080',
       'IN0202', 'RE0309', 'MI0244', 'GE0166', 'BL0048', 'CA0100',
       'PA0289', 'BI0041', 'HA0200', '37591', 'BL0049', 'BE0034',
       'EA0149', 'DA0126', 'NO0277', 'DU0141', 'AN0015', 'BY0087',
       'SO0328', 'CL0102', 'FR0164', 'CA0093', 'CA0094', 'YA0383',
       'EA0147', 'BI0042', 'AB0005', 'CO0107', 'HA0199', 'BU0078',
       'MC0232', 'BU0085', 'OO0283', 'AR0017', 'TA0347', 'CR0121',
       'KO0219', 'CL0104', 'EM0153', 'CL0101', 'RO0315', 'GO0172',
       'BY0086', 'CO0110', 'MI0245', 'GO0173', 'SP0333', 'MI0237',
       'AL0009', 'LE0224', 'CO0106', 'MO0258', 'TI0350', nan],
      dtype=object)

In [42]:
# Convert arrays to sets to perform set intersection
set1 = set(df1.Location.unique())
set2 = set(df2.LineCode.unique())

# Find the common elements (overlap) by taking the intersection of the sets
overlap_count = len(set1.intersection(set2))

# Display the count of overlapping elements
print("Overlap count:", overlap_count)

Overlap count: 0

In [35]:
# # Create a mask to filter rows where Location length is 5 and Location starts with 2 characters
# mask = (df1['Location'].str.len() == 5) & (df1['Location'].str[:2].str.isalpha())

# # Add a new column and assign the last three numbers where the mask is True
# df1.loc[mask, 'LineCode'] = df1.loc[mask, 'Location'].str[-3:]

# # For rows where the mask is False, assign NULL or any desired placeholder
# df1.loc[~mask, 'LineCode'] = None

# df1

In [36]:
result_df = pd.merge(df1, df2, how='left', left_on='Location', right_on='LineCode')
result_df

,Asset Number,Sub number,LTD Cost,Location,Location text,Km Point,Functional Loc.,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_MSGRP_FunctionalLocationRoom,FLOC_STORT_LocationDescr,System,LineCode
0,100048.0,0.0,0.000000e+00,34438,GRACEMERE,CL0036.747,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100075.0,0.0,0.000000e+00,34438,GRACEMERE,CL0036.747,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100076.0,0.0,0.000000e+00,33857,BAJOOL,NC0605.420,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100083.0,0.0,0.000000e+00,45620,MORANBAH,WA0018.230,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100096.0,0.0,0.000000e+00,32176,CALLEMONDAH,PG0534.390,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47855,393543.0,1.0,7.471786e+04,LS378,DALRYMPLE JCTN-YUKANX,28.737-28.747KM,TO001222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47856,394263.0,1.0,1.431738e+05,LS837,DALRYMPLE JTX - YUKANX,28.715KM,TO001222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47857,NaN,NaN,8.787987e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
test_df_no_null = result_df[result_df['FLOC_STRNO_FunctionalLocation'].notnull()]
test_df_no_null

Empty DataFrame
Columns: [Asset Number, Sub number, LTD Cost, Location, Location text, Km Point, Functional Loc., FLOC_STRNO_FunctionalLocation, FLOC_PLTXT_FunctionalLocationDescr, FLOC_TPLNR_FunctionalLocationInternalKey, FLOC_EARTX_TechnicalObjectTypeDescr, FLOC_MSGRP_FunctionalLocationRoom, FLOC_STORT_LocationDescr, System, LineCode]
Index: []